= content_for :title, 'Provider dashboard'

%section.vbox
  %section
    %section.hbox.stretch
      // .aside
      %section#content
        %section.hbox.stretch
          %section
            %section.vbox
              %section.scrollable.padder
                %h4.padder-v
                  %a.font-bold{href: "#"}
                    Provider Details &nbsp;&nbsp;
