%p
  Dear #{@customer_name}, as requested by you #{@doctor_name} has added the comments after going through your health records. Please check the comments.
  %br
  %br
  Thanks & Regards,
  %br
  eKincare Team.