.section-content.bottom-body.clients-section
  .container
    .row
      .col-md-12.col-sm-12.animated{"data-animrepeat" => "0", "data-animtype" => "fadeInUp", "data-delay" => "0.4s", "data-speed" => "1s"}
        %h2.h2-section-title Our growing list of partners
        .i-section-title
          %i.icon-like
      .col-md-12.col-sm-12{:style =>"text-align:center;"}
        #owl-demo
          .animated{"data-animdelay" => "0.3s", "data-animrepeat" => "0", "data-animtype" => "bounceIn"}
            %a{:href => "http://www.vasaneye.in/index.asp" }
              %img.img-responsive.client-image{:alt => "Logo", :src => asset_path("kanzi/placeholders/clients/2.png")}
          .animated{"data-animdelay" => "0.3s", "data-animrepeat" => "0", "data-animtype" => "bounceIn"}
            %a{:href => "http://vijayadiagnostic.com/" }
              %img.img-responsive.client-image{:alt => "Logo", :src => asset_path("kanzi/placeholders/clients/3.png")}
          .animated{"data-animdelay" => "0.4s", "data-animrepeat" => "0", "data-animtype" => "bounceIn"}
            %a{:href => "http://www.apollowhitedental.com" }
              %img.img-responsive.client-image{:alt => "Logo", :src => asset_path("kanzi/placeholders/clients/4.png")}
          .animated{"data-animdelay" => "0.5s", "data-animrepeat" => "0", "data-animtype" => "bounceIn"}
            %a{:href => "http://www.thyrocare.com/" }
              %img.img-responsive.client-image{:alt => "Logo", :src => asset_path("kanzi/placeholders/clients/5.png")}
          .animated{"data-animdelay" => "0.6s", "data-animrepeat" => "0", "data-animtype" => "bounceIn"}
            %a{:href => "http://www.parthadental.com/"}
              %img.img-responsive.client-image{:alt => "Logo", :src => asset_path("kanzi/placeholders/clients/6.png")}
          .animated{"data-animdelay" => "0.7s", "data-animrepeat" => "0", "data-animtype" => "bounceIn"}
            %a{:href => "http://maxivisioneyehospital.com/home.html" }
              %img.img-responsive.client-image{:alt => "Logo", :src => asset_path("kanzi/placeholders/clients/7.png")}
