= javascript_include_tag "jquery"
= javascript_include_tag "loader"
:javascript
  $(document).ready(function(){
    $("input:file").change(function (){
       $('#browseBtn').removeClass('btn-success').addClass('btn-default');
       $('#uploadBtn').removeClass('btn-default disabled').addClass('btn-success');
    });
    $("#uploadCancel").click(function(){
      $('#uploadBtn').removeClass('btn-success').addClass('btn-default disabled');
      $('#browseBtn').removeClass('btn-default').addClass('btn-success');
    });
  });

  (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '1439089473071327']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);

  <!-- Google Code for Remarketing Tag -->
  /* <![CDATA[ */
  var google_conversion_id = 953531478;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
%div{:style => "display:none"}
  %script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
%noscript
  %div{:style => "display:inline;"}
    %img{:alt => "", :height => "1", :src => "//googleads.g.doubleclick.net/pagead/viewthroughconversion/953531478/?value=0&amp;guid=ON&amp;script=0", :style => "border-style:none;", :width => "1"}/
%noscript
  %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?id=1439089473071327&amp;ev=PixelInitialized", :style => "display:none", :width => "1"}/

- if session[:is_customer]
  %input#is_customer{type: "hidden", value: "true"}
- else
  %input#is_customer{type: "hidden", value: "false"}
%header.bg-primary.header.header-md.navbar.navbar-fixed-top-xs.box-shadow
  .navbar-header.aside-md.dk
    %a.btn.btn-link.visible-xs.m-r{"data-target" => "#nav,html", "data-toggle" => "class:nav-off-screen,open"}
      %i.fa.fa-bars.m-r
    %a.navbar-brand.m-l{href: customers_dashboard_show_path}
      %span.hidden-nav-xs.m-l
        %img.m-r-sm.m-l{alt: "eKincare", src: asset_path('logo.png')}/
    %a.btn.btn-link.visible-xs{"data-target" => ".user", "data-toggle" => "dropdown"}
      %i.fa.fa-cog
  %ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user
    %li
      = link_to("Sign out", destroy_online_customer_session_path)
  %ul.nav.navbar-nav.navbar-right.m-n.hidden-xs.nav-user.user
    %li.hidden-xs
      %a.dropdown-toggle#general_comments{"data-toggle" => "dropdown", href: "#", :style => "padding-right:10px;padding-left:10px;"}
        %i.fa.fa-comments
      %section.dropdown-menu.aside-xl.animated.flipInY
        #general_comments_content.hide