.rTitle{
    color: #00BEB2;
    font-weight: bold;
}

.rSubTitle{
    color: #A0A0A0;
    font-style: italic;
}

#healthAssessment .panel .table#rTable td, #healthAssessment .panel .table th {
    border-top: none;
    border-bottom: none;
    position: relative;
    padding: 30px 10px;
}

.panel .table#rTable thead > tr > th{
    border-top: none;
    border-bottom: none;
}

#rTable  thead > tr > th > h4{
    text-transform: uppercase;
}

#rTable  thead > tr > th > .explaination{
    width: 90%;
}

#rTable  thead > tr > th > .explaination:last-child{
    width: 100%;
}

#rTable tbody tr td{
    cursor: pointer;
}

.sparkline{
    margin-top: 10px;
}

.rDirection{
    position: absolute;
    left: 95px;
    top:0px;
    color:#00BEB2;
}

.concern .rDirection{
    color:#b8001b;
}

.rResult{
    /*width: 100%;*/
    margin-top: 15px;
    height: 10px;
    display: block;
    background: #b8001b; /* Old browsers */
    background: -moz-linear-gradient(left,  #b8001b 0%, #f1c40f 51%, #00beb2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b8001b), color-stop(51%,#f1c40f), color-stop(100%,#00beb2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #b8001b 0%,#f1c40f 51%,#00beb2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #00beb2 0%,#f1c40f 51%,#b8001b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #00beb2 0%,#f1c40f 51%,#b8001b 100%); /* IE10+ */
    background: linear-gradient(to right,  #00beb2 0%,#f1c40f 51%,#b8001b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8001b', endColorstr='#00beb2',GradientType=1 ); /* IE6-9 */


}

.rDanger{
    color: #b8001b;
}

.rSafe{
    color: #00BEB2;
}

.rResultValue{
    position: absolute;
    top:-45px;
    min-width: 100px;
    background: #F2F4F8;
    border-radius: 3px;
    height: 40px;
    white-space: nowrap;
}

.arrowDown{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #F2F4F8;
    position: absolute;
    bottom:-5px;
    left: 50%;
    margin-left: -3px;
}

.rResultValue .verdict{
    text-align: center;
    width:100%;
    background: #00BEB2;
    color: white;
    border-radius: 3px;
}

.rResultValue .danger{
    text-align: center;
    width:100%;
    background: #e33244;
    color: white;
    border-radius: 3px;
}

.rResultValue .warning{
    text-align: center;
    width:100%;
    background: #fcc633;
    color: white;
    border-radius: 3px;
}

/*.concern .rResultValue .verdict{*/
/*background: #b8001b;*/
/*}*/

.rResultValue .value{
    text-align: center;
    font-weight: bold;
    font-size:16px;
}
.rResultValue .value span{
    font-weight: normal;
    font-size:12px;
}

.list-group-item{
    border:0px solid #dddddd;
    border-top:1px solid #dddddd;
    padding: 10px;
    margin:0;
}

.list-group-item:last-child{
    border:0px solid #dddddd;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    padding: 10px;
    margin:0;
}


.list-group-item:hover{
    background: #ececec;
}

.list-group-item.current_assessment{
    background: #177bbb;
}

.list-group-item.current_assessment a{
    color:white;
}

.list-group-lg .list-group-item{
    /*padding-top:0;*/
    /*padding-bottom: 0;*/
}

.list-group{
    padding-right: 0;
}

li{
    margin-left:0!important;
}

@media (max-width: 600px) {
    .history {
        display: none;
    }
    #rTable  thead > tr > th > .explaination{
        display: none;
    }
    #rTable thead > tr > th > h4{
        border-bottom: 1px solid #e1e6ef;
    }
    .rResultValue{
        min-width: 75px;
    }
    section.assessments .assessment_list{
        display: block;
    }
    section.assessments .lab_results{
        display: none;
    }
    section.assessment .assessment_list{
        display: none;
    }
    section.assessment .lab_results{
        display: block;
    }
    .rResultValue .value{
        font-size: 12px;
        line-height: 20px;
    }

}

.showAssessmentFiles{
    cursor: pointer;
}
.rAttachment{
    margin-right: 10px;
}

.moreInfo > td > div{
    padding-bottom: 20px;
}

.table#rTable thead > tr > th:nth-child(1){
    width:32%;
}
.table#rTable thead > tr > th:nth-child(2){
    width:17%;
}

html, body{ height: 100%}

.drop-content{
    max-width: 300px;
    text-align: center;
}

.eyeresult-section{
    background:#126DA7;
    padding: 30px 0 50px 0;
    margin: 0px 0 0px 0;
    overflow: hidden;
}

.eye{
    display: block;
}

.eye.lefteye{
    box-sizing: border-box;
}

.eye.righteye{
    border-left: 1px solid white;
    box-sizing: border-box;
}

.eye-content{
    margin:0 auto;
    width:160px;
    position:relative;
    height:100%;
    max-width: 100%;
}

.eye-text{
    color: white;
    text-align: center;
    font-size: 18px;
}

.eye-content > img{
    width:60%;
    margin-left:20%;
}

.eye-content > img.full{
    width:100%;
    margin-left: 0;
}

.eye-content > .answer{
    margin-top: 40px;
    padding:0;
}

.eye-content > .answer > input{
    padding:4px 8px;
}

.eye-result{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin:3px 0;
    padding: 5px 10px;
    border-radius: 0;
    color: black;
}

.eye-result.full{
    width: 100%;
    margin-bottom: 6px;
    padding:5px 3px;
}


.eye-results{
    text-align: center;
}



@media (max-width: 480px) {
    .eye-result.full{
        font-size:10px;
    }
}
