// Place all the styles related to the HealthAssessment controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.health-assessment-row
  cursor: pointer

#scrollable-dropdown-menu .tt-dropdown-menu
  max-height: 150px
  overflow-y: auto

#medical_records_panel, #recommendations_panel, #appointments_panel,#notes_panel,#promo_codes_panel
  display: none

#lab_result_tile, #medical_records_tile, #recommendations_tile, #notes_tile, #appointments_tile, #dental_result_tile, #vision_result_tile, #more_tile
  min-height: 12em
  p
    text-align: center

#health_assessments_list
  display: none

.doctorname-align
  margin-bottom: 8px !important

.doctorname-input-text
  border: #cbd5dd !important
.width168
  width: 168px

.width47p
  width: 47%

.width94p
  width: 94%
.wid81p
  width: 81%
.clear_r
  clear: right
.mar-t6
  margin-top: 6px !important

.mar-r10
  margin-right: 10px !important
.label140
  width: 140px
  text-align: right
  line-height: 31px
.mar-l6
  margin-right: 6px
#SAVE_DOCTOR,#SAVE_PROVIDER
  input[type="submit"]
    margin: 2px 0 0 6px