%section.row.bg-white.page-container
  %section.topMenuHolder
    %nav.topMenu
      %a.sidebar__link.active{:href => about_us_about_us_path} About Us
      %a.sidebar__link{:href => team_about_us_path} The Team
      %a.sidebar__link{:href => doctors_about_us_path} Our Doctors
      %a.sidebar__link{:href => advisers_about_us_path} Our Advisors
      %a.sidebar__link{:href => faq_about_us_path} FAQ
      %a.sidebar__link{:href => terms_and_conditions_about_us_path} Terms &amp; Policies
      %a.sidebar__link{:href => "https://angel.co/ekincare/jobs", :target => "_blank"} Jobs
      %a.sidebar__link{:href => "http://ekincare.wordpress.com", :target => "_blank"} Blog
      %a.sidebar__link{:href => contact_us_about_us_path} Contact Us
  %aside.col2
    %section.sidebar
      %nav.nav--sidebar.mb20
        %a.sidebar__link.active{:href => about_us_about_us_path} About Us
        %a.sidebar__link{:href => team_about_us_path} The Team
        %a.sidebar__link{:href => doctors_about_us_path} Our Doctors
        %a.sidebar__link{:href => advisers_about_us_path} Our Advisors
        %a.sidebar__link{:href => faq_about_us_path} FAQ
        %a.sidebar__link{:href => terms_and_conditions_about_us_path} Terms &amp; Policies
        %a.sidebar__link{:href => "https://angel.co/ekincare/jobs", :target => "_blank"} Jobs
        %a.sidebar__link{:href => "http://ekincare.wordpress.com", :target => "_blank"} Blog
        %a.sidebar__link{:href => contact_us_about_us_path} Contact Us