%section.page-content.col8
  %h1.font-light.mb10 About Us
  %p
    %br/
  eKincare empowers you to take charge of your health by enabling you to monitor critical medical info and make it available anywhere, anytime. We gather your results from a growing list of dental, body and vision health partners, update your profile and provide you a user-friendly platform to view them. We aim to identify potential health risks, inform you and motivate you to take necessary steps towards improving your health.
  %br/
  %br/
  %br/
  eKincare is found by a team of seasoned professionals with varied international work experience across product marketing, technology and medicine. eKincare’s founding team shares a passion for solving complex issues seeding from their own personal experiences, a love of technology and a belief that, if you combine the two in an engaging way, customers will ultimately win.
  %br/
  %br/
  %br/
  Our goal:
  %br/
  %br/
  %ul
    %li Diagnose chronic diseases early
    %li Provide better insights into your health
    %li Empower you to take charge of your health