%section.page-content.col8
  %h1.font-light.mb10 Our Advisors
  / <p>Meet the people who help us make our program better, keep up on the latest science, and ensure that we're dreaming big.<br></p>
  %section.about__advisor-list
    %section.media.advisor-grid
      %section.media__img.advisor-grid__img
        %img{:src => asset_path("advisors/1.jpg")}/
      %section.media__body.advisor-grid__body
        %h3.about__advisor-name.font-reg.font3em{:style => "margin-bottom:0"} Sunil Motaparti
        %p.font-reg.font14
        .mb30.font13
          Sunil, as Founder and Director of BitChemy Ventures, brings in overall direction and technological leadership to the group. He has extensive experience in startup development, technology management, business development and marketing. An entrepreneur himself, Sunil led product &amp; business development efforts at his previous venture, KeyPoint Technologies. Before KeyPoint, he played various roles on the product side at Magma, Intel and IBM. Sunil holds M.S. and B.S. degrees in Computer Engineering from Carnegie Mellon
    %section.media.advisor-grid
      %section.media__img.advisor-grid__img
        %img{:src => asset_path("advisors/2.jpg")}/
      %section.media__body.advisor-grid__body
        %h3.about__advisor-name.font-reg.font3em{:style => "margin-bottom:0"} Srinath DeviReddy
        %p.font-reg.font14
        .mb30.font13
          Srinath Devireddy ('Sri') is an IT-entrepreneur and runs Adroitent, a business intelligence, quality assurance and healthcare focused IT solutions company. Sri is an angel investor for eKincare and serves on the board. Sri has held several CXO positions in the IT industry prior to starting Adroitent. Sri has extensive experience in the travel domain. Sri rose up the ranks to become Vice President of Operations at Travelocity in-charge of operations management and technology. Post Travelocity, Sri headed global operations for Patni Computers. Sri was President of TRX Asia, a travel technology solutions company.
    -#/ /page-content
    -#/ page
    -#/ Scripts
    -#%script{:src => "https://code.jquery.com/jquery-2.1.3.js"}
    -#%script{:src => "./about.js"}
    -#:javascript