%section.page-content.col8
  %h1.font-light.mb10 The Team
  / <p>Meet the people who help us make our program better, keep up on the latest science, and ensure that we're dreaming big.<br></p>
  %section.about__advisor-list
    %section.media.advisor-grid
      %section.media__img.advisor-grid__img
        %img{:src => asset_path("team/1.png")}/
      %section.media__body.advisor-grid__body
        %h3.about__advisor-name.font-reg.font3em{:style => "margin-bottom:0"} Kiran K Kalakuntla
        %p.font-reg.font14 Founder and CEO
        .mb30.font13
          Worked at: AT&amp;T Mobility; Alltel (Verizon), GSK
          %br/
          Education: Duke University, JNTU
          %br/
          Seasoned product marketing professional with a track record of designing, developing and bringing complex technologies to market. Past launches include: World's first 3D smartphone, first build to order smartphone, RFID etc.
    %section.media.advisor-grid
      %section.media__img.advisor-grid__img
        %img{:src => asset_path("team/2.png")}/
      %section.media__body.advisor-grid__body
        %h3.about__advisor-name.font-reg.font3em{:style => "margin-bottom:0"} Dinesh Koka
        %p.font-reg.font14 Co-founder and COO
        .mb30.font13
          Worked at: GE Healthcare
          %br/
          Education: IIM
          %br/
          Management Executive with 14 years' experience across Customer Management, Tech Growth Initiatives. Execution Experience in Sales Management, Product Marketing, Marketing Strategy, Government Business Inititiatives.
    %section.media.advisor-grid
      %section.media__img.advisor-grid__img
        %img{:src => asset_path("team/3.png")}/
      %section.media__body.advisor-grid__body
        %h3.about__advisor-name.font-reg.font3em{:style => "margin-bottom:0"} Dr. Unnikrishnan KN
        %p.font-reg.font14 Chief Medical Officer
        .mb30.font13
          Apollo, Siemens, Ministry of UAE
          %br/
          Education: MD, GRAMIT, BS (Medical Sciences)
          %br/
          With 19 yrs of experience, Dr. UnniKrishnan is an expert in wellness programs, medical imaging, devices and healthcare ITA.
    %section.media.advisor-grid
      %section.media__img.advisor-grid__img
        %img{:src => asset_path("team/4.png")}/
      %section.media__body.advisor-grid__body
        %h3.about__advisor-name.font-reg.font3em{:style => "margin-bottom:0"} Bhasker Reddy Kottapally
        %p.font-reg.font14 CTO
        .mb30.font13
          Worked at: Computer Associates, Patni computer Systems
          %br/
          Education: University of Madras
          %br/
          IT professional with 15 years of broad technology expertise, delivering strong technical solutions that solve complex business problems.
    %section.media.advisor-grid
      %section.media__img.advisor-grid__img
        %img{:src => asset_path("team/5.png")}/
      %section.media__body.advisor-grid__body
        %h3.about__advisor-name.font-reg.font3em{:style => "margin-bottom:0"} Ramsha Darbha
        %p.font-reg.font14 Operations Manager
        .mb30.font13
          Worked at: Facebook, Unisys, Thomson Reuters
          %br/
          Education: MBA Graduate from IMT Dubai
          %br/
          4 years of experience in Workforce Management, Content Management and Quality Control.
    %section.media.advisor-grid
      %section.media__img.advisor-grid__img
        %img{:src => asset_path("team/6.jpg")}/
      %section.media__body.advisor-grid__body
        %h3.about__advisor-name.font-reg.font3em{:style => "margin-bottom:0"} Bhanu Prakash Lingusgur
        %p.font-reg.font14 Marketing Manager
        .mb30.font13
          Worked at: Turner International, Tv Today Network, Radio Mirchi
          %br/
          8 years of experience in media industry spread across Television, Radio and Internet in areas of sales, client servicing and marketing.
-#/ /page-content
    -#/ page
    -#/ Scripts
    -#%script{:src => "https://code.jquery.com/jquery-2.1.3.js"}
    -#%script{:src => "./about.js"}