.row.m-n.bg-dark{:style => 'padding-top: 250px; padding-bottom: 250px'}
  .col-sm-4.col-sm-offset-4
    .text-center.m-b-lg
      %h3.text-white.animated.fadeInDownBig Sorry! The page you are looking is no longer valid.
    .list-group.bg-info.auto.m-b-sm.m-b-lg
      %a.list-group-item{:href => home_index_path}
        %i.fa.fa-chevron-right.icon-muted
        %i.fa.fa-fw.fa-home.icon-muted
        Goto homepage