.i-trashcan
  opacity: 0.7
  filter: alpha(opacity=70)

.i-trashcan:hover
  opacity: 1
  filter: alpha(opacity=100)

.fa-pencil
  opacity: 0.7
  filter: alpha(opacity=70)

.fa-pencil:hover
  opacity: 1
  filter: alpha(opacity=100)

table td
  height: 3.5em
  vertical-align: middle !important

.w-break
  word-break: break-all

.nav-tabs
  border-bottom: 1px solid #f2f4f8 !important

.sparkline
  display: none

.thumbnail
  margin: 0 auto
  min-height: 120px
  vertical-align: middle
  img
    display: block
    min-height: 120px

.w-b
  word-break: break-all

.promo_code_list_scroll
  height: 540px
  overflow: scroll
  overflow-x: hidden
.mb9
  margin-bottom: 9px!important


.parsley-error-list
  color: red

.padder-10
  padding: 10px !important

#online_customer_password-error, #online_customer_password_confirmation-error
  width: 100% !important
  text-align: left

.agreement_error + label
  position: absolute
  top: 25px
  text-align: left
  width: 63%
  left: 59px
  padding: 0

.mt11
  margin-top: 11px !important
  
.familyMembers
  background: #e9edf4
  padding-bottom: 4px
  text-align: center

.familyMember
  display: inline-block
  background: #177bbb
  color: white
  padding: 3px
  height: 36px
  width: 36px
  line-height: 30px
  margin: 0 0px 8px 4px
  border-radius: 100%
  text-align: center
  cursor: pointer
  position: relative

#addFamilyMember
  background: #1aae88
  width: 92%
  margin-left: 2%
  margin-bottom: 10px
  margin-top: 6px
  padding: 4px 10px
  display: inline-block
  text-align: center
  cursor: pointer

#addFamilyMemberForm
  width: 95%
  margin-top: -2px
  //display: none

/* #FF7163 #8C94C9 #FF7223 #52B09E #52B09E #595C8C #FF9720  */  
#notificationDiv
  width: 100%
  position: absolute
  z-index: 1001
  border-radius: 0 !important

.alrt
  width: 13px
  height: 13px
  position: absolute
  right: 0
  top: -6px
  background-color: #e33244
  border-radius: 50px

.familyMembers ~ ul li > section
  right: auto!important
  z-index: 9999
  position: fixed
  top: 160px
  left: 241px!important