:javascript
  <!-- Facebook Conversion Code for eKincare Registrations -->
  (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6025689838855', {'value':'0.00','currency':'USD'}]);


%noscript
  %img{:alt => "", :height => "1", :src => "https://www.facebook.com/tr?ev=6025689838855&cd[value]=0.00&cd[currency]=USD&noscript=1", :style => "display:none", :width => "1"}/
%p
  Welcome #{@email}!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
