%section.topMenuHolder
  %nav.topMenu
    %a.sidebar__link{class: (@active_tab=="about_us")? 'active': '',:href => about_us_about_index_path} About Us
    %a.sidebar__link{class: (@active_tab=="team")? 'active': '',:href => team_about_index_path} The Team
    %a.sidebar__link{class: (@active_tab=="doctors")? 'active': '',:href => doctors_about_index_path} Our Doctors
    %a.sidebar__link{class: (@active_tab=="advisers")? 'active': '',:href => advisers_about_index_path} Our Advisors
    %a.sidebar__link{class: (@active_tab=="faq")? 'active': '',:href => faq_about_index_path} FAQ
    %a.sidebar__link{class: (@active_tab=="terms_and_conditions")? 'active': '',:href => terms_and_conditions_about_index_path} Terms &amp; Policies
    %a.sidebar__link{:href => "https://angel.co/ekincare/jobs", :target => "_blank"} Jobs
    %a.sidebar__link{:href => "http://ekincare.wordpress.com", :target => "_blank"} Blog
    %a.sidebar__link{class: (@active_tab=="contact_us")? 'active': '',:href => contact_us_about_index_path} Contact Us
%aside.col2
  %section.sidebar
    %nav.nav--sidebar.mb20
      %a.sidebar__link{class: (@active_tab=="about_us")? 'active': '',:href => about_us_about_index_path} About Us
      %a.sidebar__link{class: (@active_tab=="team")? 'active': '',:href => team_about_index_path} The Team
      %a.sidebar__link{class: (@active_tab=="doctors")? 'active': '',:href => doctors_about_index_path} Our Doctors
      %a.sidebar__link{class: (@active_tab=="advisers")? 'active': '',:href => advisers_about_index_path} Our Advisors
      %a.sidebar__link{class: (@active_tab=="faq")? 'active': '',:href => faq_about_index_path} FAQ
      %a.sidebar__link{class: (@active_tab=="terms_and_conditions")? 'active': '',:href => terms_and_conditions_about_index_path} Terms &amp; Policies
      %a.sidebar__link{:href => "https://angel.co/ekincare/jobs", :target => "_blank"} Jobs
      %a.sidebar__link{:href => "http://ekincare.wordpress.com", :target => "_blank"} Blog
      %a.sidebar__link{class: (@active_tab=="contact_us")? 'active': '',:href => contact_us_about_index_path} Contact Us